.header__lang-link {
  text-decoration: none;
  padding: 0;
  margin-right: 18px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.16;
  color: #FFFFFF;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
