@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 5.75rem auto 0;
  padding: 0 3.75%;
  max-width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;

}

@media screen and (min-width: 870px) and (max-width: 1110px) {
  .photo-grid {
    grid-gap: 0.875rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 870px) {
  .photo-grid {
    margin-top: 5.5rem;
    padding: 0 3.125%;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin-top: 4rem;
    padding: 0 5%;
    grid-gap: 0.75rem;
  }
}
