.intro__text {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.625;
  margin: 2.5rem 0 0;
  width: 690px;
}

@media screen and (max-width: 870px) {
  .intro__text {
    max-width: 93.75%;
  }
}
