.lead__caption {
  margin: 0.5rem 0 0;
  padding: 0 11.5%;
  font-size: 0.625em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

@media screen and (max-width: 1110px) {
  .lead__caption {
    padding: 0 4.68%;
  }
}

@media screen and (max-width: 870px) {
  .lead__caption {
    padding: 0 3.125%;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    padding: 0 5%;
  }
}
