.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-size: 4.5rem;
  line-height: 1.05;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #FFFDFD;
}

@media screen and (max-width: 530px) {
  .cover__title {
    font-size: 10vmin;
  }
}


