@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);

.place {
  display: grid;
  grid-template-columns: 47.3% 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
  margin-top: 6.25%;

}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1110px) {
  .place {
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 870px) {
  .place {
    margin-top: 9.375%;
  }
}

@media screen and (max-width: 700px) {
  .place {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title"
    "image"
    "paragraphs";
    grid-row-gap: 2rem;
    margin-top: 15%;
  }
}
