@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 5.75rem auto 0;
  padding-top: 0;
  padding-right: 4.05%;
  padding-left: 4.05%;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 870px) {
  .footer {
    margin-top: 5.5rem;
    padding-right: 3.125%;
    padding-left: 3.125%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin-top: 4rem;
    padding-right: 5%;
    padding-left: 5%;
    flex-direction: column;
    align-items: flex-start;
  }
}
